body {
  background-color: #1b2430;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    
    width: calc(100vw - 40px);
    height: 40px;
    background-color: #304056;
    margin:20px auto;
    border-radius: 30px;

    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.left-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo{
  width: 50px;
  height: 37.5px;
  margin-left: 15px;
}

.nav-title{
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: bold;
  color:#FFFFFF;
  text-decoration: none;
  margin-left: 10px;
}

.nav-item{
    margin-right: 20px;
    transition: all 0.4s;
}

.nav-link{
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none;
    transition: all 0.4s;
}

.nav-link:hover{
    color:#929eff;
    font-size: 21.5px;
}

.logo-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.logo{
    width: 150px;

}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
    display: flex;
    color:#FFFFFF;
    font-size: 64px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* Search bar by Bugra 
https://codepen.io/bugraskl/pen/LYbbqxv
*/
.search-box {
    width: 350px;
    position: relative;
    display: flex;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 10px;
  }
  
  .search-input {
    width: 100%;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #465D7C;
    color: #ffffff;
    border-radius: 30px;
    border:none;
    transition: all .4s;
  }
  
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #83a5d96b;
    -moz-box-shadow: 0 1px 12px #83a5d96b;
    -webkit-box-shadow: 0 1px 12px #83a5d94f;
  }
  
  .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #ffffff;
    transition: all .4s;
    z-index: 10;
  }
  
  .search-btn:hover {
    transform: scale(1.2);
    color: #929eff;
  }
  
  .search-btn:focus {
    outline:none;
    color:#929eff;
  }
  /* End search bar */

.instruction-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
  
.instruction{
  width: 60vw;
  height: 250px;
  background-color: #232f3e;
  border-radius: 30px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.instruction:hover{
  box-shadow: 0 5px 16px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.title-instruction{
  color:#FFFFFF;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  margin-bottom: 8px;
  
}

p {
  color:#c0d5ff;
  text-align:center;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
}

.leagues-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leagues-text{
  color:#FFFFFF;
  font-family: 'Merriweather', serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.eng{
  border-radius: 10px;
  width:30px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
}

.spa{
  border-radius: 10px;
  width:30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.ita{
  border-radius: 10px;
  width:30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.ger{
  border-radius: 10px;
  width:30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.fra{
  border-radius: 10px;
  width:30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-pic{
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 5px;
  margin-left: 35px;
}

.flexbox-container{
  display: flex;
}

.summary-title{
  font-family: 'Merriweather', serif;
  color:#FFFFFF;
  font-size: 64px;
  font-weight: bold;
  margin: 5px;
  margin-left: 30px;
}

/*Apply style to all */
.player-name, .player-name2, .attacking, .attacking2, .mid, .mid2, .defend, .defend2{
  background-color: #232f3e;
  border-radius: 30px;
  transition: all 0.3s;
  min-height: 300px;
  box-shadow: 0 5px 16px rgba(0,0,0,0.1);
  margin: 30px
}
.player-name{  
  display: flex;
  width: 65vw;
  justify-content: space-between;
  align-items: center;
}

.player-name2{
  width: 35vw;
  display: flex;
  align-items: center;
}

/*Apply shadow to all */
.player-name:hover, .player-name2:hover, .attacking:hover, .attacking2:hover, .mid:hover, .mid2:hover, .defend:hover, .defend2:hover{
  box-shadow: 0 5px 16px rgba(0,0,0,0.3);
  transform: translateY(-5px); 
}

.name-pic{
  display: flex;
  align-items: center;
}

.club-box{
  display: flex;
  align-items: center;
  justify-content: right;
}

.club{
  width: 130px;
  height: 130px;
  margin: 5px;
  margin-left: 35px;
  margin-right: 35px;
}

.bio{
  margin: 20px;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 15px;
}

.intro-stats{
  margin: 20px;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 15px;
}

.high-rated{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  color:rgb(63, 190, 63)
}

.medium-rated{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  color:rgb(127, 219, 75)
}

.medium-low-rated{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  color:rgb(195, 219, 75)
}

.low-rated{
    font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  color:rgb(219, 109, 75)
}

.desc{
  margin: 25px;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.radar-container{
  margin: 20px;
  margin-right: 40px;
}


.attacking-container{
  display: flex;
}

.attacking{

  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.attacking2{
  width: 35vw;
  display: flex;
  align-items: center;
}

.mid-container{
  display: flex;
}

.mid{
  display: flex;
  width: 65vw;
  justify-content: space-between;
  align-items: center;

}

.mid2{
  width: 35vw;
  display: flex;
  align-items: center;
}

.defend-container{
  display: flex;
}

.defend{
  display: flex;
  width: 65vw;
  justify-content: space-between;
  align-items: center;

}

.defend2{
  width: 35vw;
  display: flex;
  align-items: center;
}

.attack-title, .mid-title, .defend-title{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  margin-bottom: 10px;
  color:rgb(255, 255, 255)
}

.attack1a, .mid1a, .defend1a{
  margin: 20px;
}

