{% extends "base.html" %}

{% block title  %}Home{% endblock %}

{% block content %}

    <div class="logo-container">
        <img class=logo src="{{  url_for('static', filename='images/ss-logo.png') }}" alt="StatScout Logo" >
    </div>

    <h1 class="title">StatScout</h1>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--search bar by Bugra
    https://codepen.io/bugraskl/pen/LYbbqxv
    -->
    <script src="https://kit.fontawesome.com/d97b87339f.js" crossorigin="anonymous"></script>
    <div class="search-box">
    <input class="search-input" type="text" placeholder="Search something..">
    <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>

{% endblock %}