{% extends "base.html" %}

{% block title  %}Home{% endblock %}

{% block content %}

    <div class="logo-container">
        <img class=logo src="{{  url_for('static', filename='images/ss-logo.png') }}" alt="StatScout Logo" >
    </div>

    <h1 class="title">StatScout</h1>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--search bar by Bugra
    https://codepen.io/bugraskl/pen/LYbbqxv
    -->
    <script src="https://kit.fontawesome.com/d97b87339f.js" crossorigin="anonymous"></script>
    <div class="search-box">
    <input class="search-input" type="text" placeholder="Search something..">
    <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>

    <div class="instruction-container">
        <div class="instruction">
            <h2 class="title-instruction">Instructions</h2>
            <p>Evaluate players like you've never seen before: StatScout provides comprehensive player insights spanning Europe's top 5 football leagues. Input a player's name to receive an all-encompassing ChatGPT summary, accompanied by a visual overview that presents their performance statistics in full detail!</p>
            <div class="leagues-container">
                <h2 class="leagues-text">Leagues: </h2>
                <img class='eng' src="{{  url_for('static', filename='images/eng.svg') }}" alt="England" >
                <img class='eng' src="{{  url_for('static', filename='images/spa.svg') }}" alt="Spain" >
                <img class='eng' src="{{  url_for('static', filename='images/ita.svg') }}" alt="Italy" >
                <img class='eng' src="{{  url_for('static', filename='images/ger.svg') }}" alt="Germany" >
                <img class='eng' src="{{  url_for('static', filename='images/fra.svg') }}" alt="France" >
            </div>
        </div>
    </div>



{% endblock %}